<html>
	<head>
		<title>Django Calculator</title>
		<link rel="stylesheet" type="text/css" href="/media/css/djcalculator.css"  />
		<script type="text/javascript" src="/media/js/jquery.js"></script>
		<script type="text/javascript" src="/media/js/djcalculator.js"></script>
	</head>
	<body>
		<div>
			<input type="text" id="result" name="result" />
		</div>
		<div>
			<input type="submit" value="7" id="7" name="7" />
			<input type="submit" value="8" id="8" name="8" />
			<input type="submit" value="9" id="9" name="9" />
			<input type="submit" value="÷" id="÷" name="÷" />
		</div>
		<div>
			<input type="submit" value="4" id="4" name="4" />
			<input type="submit" value="5" id="5" name="5" />
			<input type="submit" value="6" id="6" name="6" />
			<input type="submit" value="×" id="×" name="×" />
		</div>
		<div>
			<input type="submit" value="1" id="1" name="1" />
			<input type="submit" value="2" id="2" name="2" />
			<input type="submit" value="3" id="3" name="3" />
			<input type="submit" value="-" id="-" name="-" />
		</div>
		<div>
			<input type="submit" value="0" id="0" name="0" />
			<input type="submit" value="+" id="+" name="+" />
			<input type="submit" value="=" id="equal" name="=" />
		</div>
	</body>
</html>
